@charset "UTF-8";
/* CSS Document */

html,body{
	margin:0;
	padding:0;
	height:100%;
	width:100%;
	background:rgba(0,0,0,0.50);
	font-family: DIN Condensed;
}

.wrapper{
	width:100%;
	height:100%;
	position:block;
	background-image:url(../images/Bg.png);
	background-repeat: no-repeat;
	background-position:center;
	background-size:contain;
}



.wrapper .container{	
	width:592px;
	height:732px;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-366px;
	margin-left:-298px;
	padding:0;
	box-sizing:border-box;
}

.wrapper .container .register, .wrapper .container .login{
	width:100%;
	height:100%;
	position:relative;
}
.wrapper .container .register {
	display:block;
}

.wrapper .container .login {
	display:none;
}

.wrapper .container .hotspot{
	position:absolute;
	width:100%;
	height:100px;
	/*background:url(../images/red.png) no-repeat center;*/
	right:32px;
	top:-50px;
	display:block;	
}

.wrapper .container .hotspot > *{
	display:inline-block;
	width:48%;
	height:100%;
}

.wrapper .container .close{
	position:absolute;
	width:74px;
	height:74px;
	right:-70px;
	top:-109px;
}

.wrapper .container .close img{
	width:100%;
	height:100%;
}
.wrapper .container .content{
	position:relative;
	height:100%;
	display:table;	
}




.wrapper .container .content form{
	display:table-cell;
	vertical-align:middle;
	/*text-align:center;*/
}

.wrapper .container .content form label{
	display:inline-block;
	width:30%;
}
.wrapper .container .content form input{
	display:inline-block;
	width:65%;
}

.wrapper .container .content form label{
	font-size:38px;
	text-transform:uppercase;
	margin-bottom:35px;
	color:#df9328;
}

.wrapper .container .content form input[type='text']
.wrapper .container .content form input[type='tel']{
	margin-bottom:42px;
}
.wrapper .container .content form input{
	border:2px solid #cc8822;
	font-family:DIN Condensed;
	font-size:30px;
	text-align:left;
	box-sizing:border-box;
	color:#df9328;

	
}

.wrapper .container .submit{
	width:164px;	
	height:65px;
	position:absolute;
	left:200px;
	bottom:50px;
}

.wrapper .container .submit img{
	width:100%;
	height:100%;
}





@media (max-width: 640px) {
	.wrapper .container{
		width:280px;
		height:298px;
		margin-top:-150px;
		margin-left:-140px;
	}
	

	.wrapper .container .content{
		position:relative;
		height:100%;
		display:table;
	
	}
	.wrapper .container .close{
	position:absolute;
	width:48px;
	height:48px;
	right:-70px;
	top:-115px;
	}
	
	.wrapper .container .close img{
		width:100%;
		height:100%;
	}
	
	.wrapper .container .submit{
		width:100px;	
		height:30px;
		left: 80px;
		bottom:0px;
	}
	
	.wrapper .container .content form label{
		font-size:17px;
		margin-bottom:13px;	
		display:inline-block;
		width:20%;
	}
	
	/*.wrapper .container .content form input[type='text']{
		margin-bottom:24px;
	}*/
	
	.wrapper .container .content form input{
		border:1px solid #cc8822;
		width:160px;
		padding:5px 10px;
		font-size:16px;
	}
}

@media (max-width: 480px) {
	.wrapper .container{
		width:280px;
		height:298px;
		margin-top:-150px;
		margin-left:-140px;
		padding:16px;
	}
	

	.wrapper .container .content{
	position:relative;
	height:100%;
	display:table;
	

}

	.wrapper .container .close{
	position:absolute;
	width:40px;
	height:40px;
	right:-45px;
	top:-87px;
	}
	
	.wrapper .container .close img{
		width:100%;
		height:100%;
	}

	.wrapper .container .submit{
		width:80px;	
		height:30px;
		bottom:20px;
		left:98px;
	}
	
	
	
	.wrapper .container .content form label{
		font-size:17px;
		margin-bottom:13px;	
		display:inline-block;
		width:22%;
	}
	
	
	/*.wrapper .container .content form input[type='text']{
		margin-bottom:24px;
	}*/
	
	.wrapper .container .content form input{
		border:1px solid #cc8822;
		width:160px;
		padding:0px 3px;
		font-size:16px;
		
	}



}
